.input {
    display: block;
    border-radius: 1em;
    margin: 1em;
    font-size: 1rem;
    border: 0px solid black;
    height: 3em;
    background-color: #E8F0FE;
    width: 300px;
    text-align: center;
    font-weight: 600;
}

.input:focus {
    transform: scale(1.09);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit {
    display: block;
    margin: 0.5em;
    font-size: 2rem;
    font-weight: 900;
    border: 0px solid black;
    background-color: rgba(224, 224, 224, 0);
    max-width: 250px;
}

.submit:hover {
    color: var(--colorSecondary);
    transform: scale(1.3);
    cursor: pointer;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputIcon {
    margin-left: 25px;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.checkbox {
    display: block;
    margin-right: 1em;
    transform: scale(2);
}

.checkboxText {
    display: block;
    font-weight: 400;
    font-size: 1.1rem;
}
