.mainPageWrapper {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}

.link, .logout {
    margin-left: 2rem;
    font-size: 2rem;
    width: 500px;
    padding: 10px 1rem;
    background-color: var(--colorPrimary);

}

.link:hover, .logout:hover {
    cursor: pointer;
    background-color: white;
}

.link:hover {
    color: var(--colorPrimary);
}

.logout:hover {
    color: var(--colorSecondary);
}

.userCard {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    margin-right: 5rem;
    padding-bottom: 1rem;
    min-width: 578px;
}

.userCardHeader {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apiKeyBox {
    background-color: rgb(49, 49, 49);
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
}

.apiKeyText {
    text-overflow: ellipsis;
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 2rem;
}

.copyBtn {
    margin-right: 2rem;
    background-color: var(--colorPrimary);
    padding: 0.8rem;
    border-radius: 5px;
}

.copyBtn:hover {
    cursor: pointer;
    transform: scale(1.5);
    margin-right: 2rem;
}

.copyBtn:active {
    background-color: var(--colorSecondary);
    transform: scale(1);
}

.apiKeyTextWrapper {
    width: 50%;
}

@media only screen and (max-width: 1000px) {
    .apiKeyText {
        width: 400px;
    }
}

@media only screen and (max-width: 750px) {
    .userCardHeader {
        font-size: 0.8em;
    }

    .apiKeyText {
        width: 200px;
    }
}
