.metricsContainer {
    background: black;
    padding: 2em;
    min-height: 300px;
}

.metric {
    color: yellowgreen;
    white-space: normal;
    word-break: break-all;
}

.metricError {
    color: var(--colorError) !important;
    white-space: normal;
    word-break: break-all;
}

